* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BEGIN GENERAL STYLE */

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


/* END GENERAL STYLE */

/* BEGIN HEADER STYLE */

.header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
}

.logo__img {
    font-size: 42px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #000
}

/* END HEADER STYLE */

/* BEGIN HERO STYLE */

.hero {
    height: 700px;
    display: flex;
    justify-content: start;
    align-items: end;
    background: url("./bg.jpg") 50% 50% cover;
    /* background-size: 50% cover; */
}
.hero__title {
    font-size: 72px;
}

/* END HERO STYLE */